@model SmartRmApi.Models.tbl_invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_table.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_table.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_user.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
